<form action="/create" method="POST">
  <h2>{{title}}</h2>
  <div class="input-field col s12">
    <i class="material-icons prefix">textsms</i>
    <input required="required" type="text" name="title" id="autocomplete-input" class="autocomplete">
    <label for="autocomplete-input">Todo title</label>
  </div>
  <button type="submit" class="waves-effect waves-purple btn">
    <i class="material-icons right">add_circle</i>
    Create
  </button>
</form>
